<nav>
	<div><img src="codecamp.webp" alt="Logo" /></div>

	<div>
		<a href="tel:3103652785">+57 3103652785</a>
		<button>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 24 24"
				width="24"
				height="24"
			>
				<path
					d="M3 6h18M3 12h18M3 18h18"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"></path>
			</svg>
		</button>
	</div>
</nav>

<style>
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
		color: white;

		a {
			color: gray;
			text-decoration: none;
		}
	}

	div {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	img {
		height: 80px;
	}

	button {
		background-color: transparent;
		color: white;
		border: none;
		border-radius: 0.5rem;
		padding: 0.5rem;
		cursor: pointer;
	}
</style>
